/*
Colores
  Tarjetas
    Red: hsl(0, 78%, 62%)
    Cyan: hsl(180, 62%, 55%)
    Orange: hsl(34, 97%, 64%)
    Blue: hsl(212, 86%, 64%)
  Sombra
    Dark Blue: hsl(240, 25%, 50%) al 20% de opacidad;
  Texto
    Grey: hsl(229, 6%, 66%)
  Fondo de la tarjeta y del background
    White: hsl(0, 0%, 93%)

Fuente de la página
  https://fonts.google.com/specimen/Poppins
  Estilos 200, 400 y 600
*/

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 93%);
}

.main-title {
  display: block;
  font-size: 2.5rem;
}

.subtitle {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  position: relative;
  width: 1200px;
  height: 550px;
  margin: 5em auto;
}

.card {
  position: absolute;
  width: 350px;
  height: 250px;
  padding: 0 2em;
  font-size: 0.9rem;
  border-radius: 10px;
  box-shadow: 5px 10px 10px hsl(240 25% 50% / 0.2);
  background-color: hsl(0, 0%, 93%);
}
.card__title,
.card__text {
  text-align: left;
}

.card__icon {
  position: absolute;
  right: 2em;
  bottom: 2em;
}

.card--cyan {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.card--red {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.card--orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.card--blue {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.card--left,
.card--right {
  top: 150px;
}

.card--top,
.card--bottom {
  left: 425px;
}

.card--left {
  left: 0;
}

.card--top {
  top: 0;
}

.card--right {
  right: 0;
}

.card--bottom {
  bottom: 0;
}

.text-light {
  color: hsl(229, 6%, 66%);
}

.text-thin {
  font-weight: 200;
}

.text-bold {
  font-weight: 600;
}
